<ion-header-bar class="bar-positive" align-title="center">
    <button class="button button-light button-clear" ng-click="goLogin()">Back</button>
    <h1 class="title">FAQs</h1>
</ion-header-bar>
<ion-content>
	<div class="card">
  		<div class="item item-text-wrap">
    		<div class="row row-top">
    			<div class="col col-20">Q:</div>
    			<div class="col" style="color:grey;font-size:13px;">如何创建隧道？</div>
    		</div>
    		<div class="row row-top">
    			<div class="col col-20">A:</div>
    			<div class="col" style="color:grey;font-size:13px;">1、初始化SDK环境<br>2、设置login参数<br>3、调用login接口</div>
    		</div>
	    </div>
	</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
    		<div class="row row-top">
    			<div class="col col-20">Q:</div>
    			<div class="col" style="color:grey;font-size:13px;">怎么看创建隧道成功？</div>
    		</div>
    		<div class="row row-top">
    			<div class="col col-20">A:</div>
    			<div class="col" style="color:grey;font-size:13px;">1、设置网络状态回调<br>2、隧道创建成功日志打印"tunnel online"</div>
    		</div>
	    </div>
	</div>
</ion-content>